*{
    padding: 0;
    margin: 0;
}

h2, h5{
    font-family: 'Roboto Slab', Palatino, serif;
}
p,a{
    font-family: 'Open Sans', Verdana, sans-serif;
}
form > label,input,small,textarea,button{
    font-family: 'Open Sans', Verdana, sans-serif;
}

.google-maps{
    padding: 30px 0;
}
h2{
    padding-bottom: 20px;
    margin: 10px,0;
}

label[for="InputName"]{
    padding-top: 20px;
}

.navbar{
    background-color: #80A2E8;
}

.navbar-nav a{
    color: #DAEBFF;
}

.navbar-nav a:active,a:hover{
    color: #BAD6E8;
}

div.jumbotron{
    background-color: #CDD6FF;
}

div.wrapper {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  background-color: #80A2E8;
  margin: 30px auto 0 auto;
}


div.copyright{
margin: 30px 0 0 20px;
    color: #DAEBFF;
}

div.footer-iconic{
    margin: 10px 30px 10px 0;
    color: #DAEBFF;
}

.iconic-md{
    fill:#DAEBFF;
}

.iconic-md:hover{
    fill:#BAD6E8;
}

@media (max-width: 576px){
.col-sm-6 {
    max-width: 90%;
}
}

